# macOS files
*.DS_Store

# Specific user data
**/xcshareddata
**/xcuserdata
/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
**/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
**/user.xcuserdatad
DictionarySwiftUI.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate

# Build
build

# Breakpoints
*.xcbkptlist
